<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by {{name}}.
                It uses data from weatherstack and mapbox to fetch the current temperature and weather forecast
            </p>
            <img class="portrait" src="/img/23.jpg">
        </div>
        {{>footer}}
    </body>
</html>